.search-container {
  margin: 20px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-bar input {
  flex-grow: 1; /* This will make the input field take up the available space */
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px 12px;
  margin-left: 10px; /* Space between input and button */
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  width:200px;
  border-radius: 4px;
}


.search-bar button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 10px;
}

.records-table {
  width: 100%;
  border-collapse: collapse;
}

.records-table th, .records-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.records-table th {
  background-color: #f4f4f4;
}
.search-bar button .fa-search {
  margin-right: 8px; /* Space between the icon and text */
  font-size: 16px; /* Adjust the icon size */
}

.search-bar button {
  display: flex;
  align-items: center; /* Ensures the icon and text are vertically aligned */
  justify-content: center; /* Centers the content inside the button */
}
